name: Build Release

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - 'plugin/**'
      - '.github/workflows/build.yml'
  workflow_dispatch:

jobs:
  build-plugin:
    name: Build plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup aftman
        uses: ok-nick/setup-aftman@v0.4.2

      - name: Get plugin version
        run: echo "pluginVersion=$(cat plugin/Version.txt)" >> $GITHUB_ENV

      - name: Build plugin
        run: rojo build plugin --output OllamaAI-${{ env.pluginVersion }}.rbxm

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.pluginVersion }}
          files: OllamaAI-${{ env.pluginVersion }}.rbxm
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pluginVersion: ${{ env.pluginVersion }}
