name: Build Release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: "Version of plugin (e.g., 1.0.0)"

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create tag
        run: |
          git tag v${{ github.event.inputs.version }}
          git push origin v${{ github.event.inputs.version }}
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${{ github.event.inputs.version }} --draft --title "Release v${{ github.event.inputs.version }}"

  build-plugin:
    needs: ["create-release"]
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup aftman
        uses: ok-nick/setup-aftman@v0.4.2
      - name: Update version
        run: |
          echo "${{ github.event.inputs.version }}" > plugin/Version.txt
      - name: Build plugin
        run: |
          rojo build plugin --output OllamaCodeGenerator-v${{ github.event.inputs.version }}.rbxm
      - name: Upload to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload v${{ github.event.inputs.version }} OllamaCodeGenerator-v${{ github.event.inputs.version }}.rbxm
