name: Build Release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: "Version of plugin (e.g., 1.0.0)"

jobs:
  build-plugin:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup aftman
        uses: ok-nick/setup-aftman@v0.4.2

      - name: Update version file
        run: echo "${{ github.event.inputs.version }}" > plugin/Version.txt

      - name: Build plugin
        run: rojo build plugin --output OllamaCodeGenerator-v${{ github.event.inputs.version }}.rbxm

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.event.inputs.version }}
          draft: false
          files: OllamaCodeGenerator-v${{ github.event.inputs.version }}.rbxm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
